<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="container" style="width:100%;">
  <div id="left" style="float:left; width:30%;">  </div>
  <div id="googleMap" style="float:right; width:70%;height:800px"></div>
</div>


<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng({{ dlugosc }},{{ szerokosc}}),
  zoom:10,
};
var contentString = "WITAM";
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({position: new google.maps.LatLng({{ dlugosc}},{{ szerokosc}}), map: map, label: {
    color: 'gray',
    fontWeight: 'bold',
    text: 'Tu jesteś!',
  },title: "Twoja lokalizacja"});

var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: {lat: {{ dlugosc }}, lng: {{ szerokosc }} },
            radius: {{ odleglosc }} * 1000,
          },);
infoArray = []
{% for point in points %}
        var infowindow = new google.maps.InfoWindow({
          content: "{{ point.name }}"
        });
    infoArray.push(infowindow);

    {% endfor %}

    {% for point in points %}

    var name = "{{ point.name }}";

    var marker= new google.maps.Marker({position: new google.maps.LatLng( {{ point.szerokosc }}, {{ point.dlugosc }}), map: map,
    title: name
    });
    marker.addListener('click', function() {
        infoArray[0].open(map, marker)
        //infowindow.open(map, marker);
        });


{% endfor %}

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFmXZUBd7-Ty65hc5z9H7vLYMjkAOI8VE&callback=myMap"></script>

</body>
</html>